.calcBody {
    height: 400px;
    width: 300px;
    border: solid 1px black;
}

.display {
    height: 50px;
    width: 300px;
    border: solid 1px black;
}

button {
    height: 60px;
    width: 60px;
    margin: 5px;
}

.clear {
    height: 50px;
    width: 280px;
}